<div class="row" [formGroup]="personGroup">
  <div class="col-6">
    <input id="name" type="text" class="form-control" formControlName="name" />
  </div>
  <div class="form-group col-5">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker formControlName="birthdate" #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
        </button>
      </div>
    </div>
  </div>
  <div class="form-group col-1">
    <input type="checkbox" class="form-check" style="margin-top: 12px" formControlName="display" />
  </div>
</div>