<div style="margin: 30px 30px 0 120px; width: calc(100% - 150px); height: calc(100% - 30px); display: flex; flex-direction: column">
  <div style="flex: 0 0 auto">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" style="width: 214px">Datum</th>
          <th scope="col">Gebeurtenis</th>
        </tr>
      </thead>
    </table>
  </div>
  <div style="overflow-y: scroll; overflow-x: hidden; flex: 1 0 0">
    <table class="table table-sm">
      <tbody>
        <tr *ngFor="let gebeurtenis of gebeurtenissen" [style.color]="gebeurtenis.isInPast ? 'gray' : 'black'">
          <td>{{gebeurtenis.datum | date: 'dd MMM yyyy'}}</td>
          <td>{{gebeurtenis.info}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>