<div style="margin: 30px; width: 100%; height: 100%; display: flex; flex-direction: column">
  <div style="flex: 0 0 auto">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="col-4">Datum</th>
          <th scope="col" class="col-8">Gebeurtenis</th>
        </tr>
      </thead>
    </table>
  </div>
  <div style="overflow-y: visible; overflow-x: hidden; flex: 1 1 auto">
    <table class="table table-sm">
      <tbody>
        <tr *ngFor="let event of events" [style.color]="event.isInPast ? 'gray' : 'black'">
          <td class="col-4">{{event.date| date: 'dd MMM yyyy'}}</td>
          <td class="col-8">{{event.info}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>